[submodule "02_Trabajo_Colaborativo/trabajo_practico/repositorio_tp2_Git_GitHub"]
   path = 02_Trabajo_Colaborativo/trabajo_practico/repositorio_tp2_Git_GitHub
   url = https://github.com/kguardia/repositorio_tp2_Git_GitHub.git

